.stadistics{

display: flex;
justify-content:space-between;
flex-direction: column;

.container_text{
display: flex;
justify-content: space-between;
gap: 10px;
}

.box_total_user, .box_new_user{
background: #F5F6F7;
mix-blend-mode: normal;
border-radius: 20px;
padding: 15px;

width: 152px;
height: 141px;

margin-bottom: 20px;

h4,p{
border-bottom:1px dashed #444444;
font-family: 'Heebo';
font-weight: 700;
font-size: 14px;
line-height: 21px;

} 
h5,h3{
font-weight: 900;
font-size: 15px;
line-height: 22px;
width: max-content;
}

.item{
line-height: 25px;
display: flex;
justify-content: space-between;
}
}
}